*{
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(0, 0%, 86%);
}

main{
    height: 450px;
    width: 620px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 150px 20px;
    padding: 50px;
}

/* for first section */
#input-label{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
   
}

input[type=number]{
    height: 30px;
    width: 130px;
    border-radius: 7px;

    font-size: x-large;
    font-weight: 700;
}

/* for second section */
#line-btn{
    position: relative;
   height: 60px;
   width: 100%;

   display: flex;
   align-items: center;
}

#line-btn img{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: hsl(259, 100%, 65%);
    font-size: larger;
    left: 100%;
    transform: translateX(-100%);
}

#line-btn hr{
    height: 3px;
    width: 100%;
    background-color: hsl(0, 0%, 94%);
}

/* for third section */
span, h1{
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    line-height: 120%;
   
    color: hsl(259, 100%, 65%);
}
h1{
  color: black;
}


section{
    margin-bottom: 7px;
}

@media screen and (max-width: 780px) {

    main{
        height: 600px;
        width: 90%;
       
    }

    input[type=number]{
        height: 30px;
        width: 100%;
    }

    #input-label{
        justify-content: space-between;
        column-gap: 40px;
    }

    #line-btn img{
        left: 50%;
        transform: translateX(-50%);
    }

    
    section{
        margin-bottom: 50px; 
    }
  }

  @media screen and (max-width: 476px) {
    span, h1{
        font-size: 3rem;
        font-weight: 900;
        font-style: italic;
        line-height: 160%;
    }

    main{
        padding: 30px;
    }
  }